*{padding: 0;margin: 0;}
.container{height: 100vh;
			width: 100vw;
			color:#444;
			background:#a8d6f0 ;
			text-align: center}
.love, .no{
	padding-top: 15%;
}
h1{font-size: 60px;margin-bottom: 30px;}
.love, .no a{text-decoration: none;
	background: #eee;
	padding: 5px;
	margin: 5px 10px;
	border:3px solid #ddd;
	border-radius: 10px;
}
#no{color:red;}
#yes{color:green;}